body{
    background-color: black;
    align-items: center; 
    justify-content: center;
    margin-top: 10%;
    position: relative;
}
.area{
    background-color: rgba(116, 173, 92, 0.8);
    border: 20px solid rgba(69, 93, 58, 0.8);
    border-radius: 10px;
    
    position: relative;
    /* overflow: hidden; */
    overflow: hidden;
    margin: auto;
    
}

.food{
    width: 50px;
    height: 50px;
    position: absolute;
  

}
.part{
    width: 20px;
    height: 20px;
    background-color: #27ff00;
    position: absolute;
    border-radius: 10px;
}
.intro{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
  
}
.start{
    border-radius: 5px;
    border: 2px solid green;
    position: relative ;
    left: 11%;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    top: 21%;
    z-index: 3;
    background-color: greenyellow;
    padding: 20px 60px 35px 70px;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: greenyellow;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
